Clone/pipeline/dynamic_cdc_pipe.json
{
	"name": "dynamic_cdc_pipe",
	"properties": {
		"description": "The Goal for this pipeline is to read config and dynamically build cdc pipelines",
		"activities": [
			{
				"name": "For Each ODP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup config').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Dynamic Flow",
							"description": "Dynamic flow",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Dynamic_dataflow",
									"type": "DataFlowReference",
									"parameters": {
										"TableKeys": {
											"value": "@item().TableKeys",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SourceTable": {
											"TableName": {
												"value": "@item().TableName",
												"type": "Expression"
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "charlotte0pipe0metastore",
										"type": "LinkedServiceReference"
									},
									"folderPath": {
										"value": "@concat('staging/',item().TableName)",
										"type": "Expression"
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"continuationSettings": {
									"customizedCheckpointKey": {
										"value": "@item().TableGuid",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CDC_ODP_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Checkpoint_Key": {
				"type": "String"
			},
			"TableName": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-21T21:45:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}