Development/pipeline/SAP_Dynamic_Ingestion_debug.json
{
	"name": "SAP_Dynamic_Ingestion_debug",
	"properties": {
		"description": "Pipeline to dynamically iterate and append TableName values from SAP config.",
		"activities": [
			{
				"name": "Lookup_Table_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0,
							"delimiter": ","
						}
					},
					"dataset": {
						"referenceName": "HR_Lookup_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Table_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Table_Config').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 8,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableNames",
								"value": {
									"value": "@item().tableName",
									"type": "Expression"
								}
							}
						}
					]
				},
				"activities": [
					{
						"name": "Append_Variable",
						"type": "AppendVariable",
						"dependsOn": [],
						"typeProperties": {
							"variableName": "TableNames",
							"value": "@item().TableName"
						}
					}
				]
			}
		],
		"variables": {
			"TableNames": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-21T19:27:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}